@mixin keyframes($myani1){
    @keyframes myani {
    0% {opacity: 0.1;}
    50% {opacity: 1;}
    100% {opacity: 0.1;}
    }
}

@mixin keyframes2($myani2){
    @keyframes myani2 {
    0% {left: 20%;}
    50% {left: 18%;
        width: 149%;
    }
    100% {left: 20%;}
    }
}