@media only screen and (max-width: 768px) {
    .nav-ul-hid {
        display: none;
    }
    .mobile1 {
        display: block;
        margin-right: 1em;
    }
    .nav-ul {
        justify-content: space-between;
        margin: 0px 0px 100px 0px;
    }
    .main-p {
        display: flex;
        flex-direction: column;
    }
    .grid-item {
        padding: 8px;
        font-size: 14px;
        text-align: center;
        width: 18rem;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 39px 50px 31px 50px;
    }
    .grid-item4 {
        /* align-self: flex-end; */
        text-align: center;
    }
    .special {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .hoverimg {
        position: absolute;
        width: 75%;
        height: 100%;
        right: 0%;
        animation: myani 4s infinite;
    }
    @keyframes myani {
        0% {opacity: 0.1;}
        50% {opacity: 1;}
        100% {opacity: 0.1;}
    }
    .hero {
        background-position: right 0% bottom 44%;
    }
    .hoverimg {
        position: absolute;
        width: 172%;
        height: 100%;
        right: 18%;
        animation: myani 4s infinite;
    }
    .move-ball {
        position: absolute;
        top: 0%;
        left: 20%;
        width: 140%;
        animation: myani2 4s infinite;
    }
    @keyframes myani2 {
        0% {left: 20%;}
        50% {left: 18%;
            width: 149%;
        }
        100% {left: 20%;}
    }
}