@media only screen and (max-width: 768px) {
  .nav-ul-hid {
    display: none;
  }
  .mobile1 {
    display: block;
    margin-right: 1em;
  }
  .nav-ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 100px 0px;
  }
  .main-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-item {
    padding: 8px;
    font-size: 14px;
    text-align: center;
    width: 18rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 39px 50px 31px 50px;
  }
  .grid-item4 {
    /* align-self: flex-end; */
    text-align: center;
  }
  .special {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hoverimg {
    position: absolute;
    width: 75%;
    height: 100%;
    right: 0%;
    -webkit-animation: myani 4s infinite;
            animation: myani 4s infinite;
  }
  @-webkit-keyframes myani {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  @keyframes myani {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  .hero {
    background-position: right 0% bottom 44%;
  }
  .hoverimg {
    position: absolute;
    width: 172%;
    height: 100%;
    right: 18%;
    -webkit-animation: myani 4s infinite;
            animation: myani 4s infinite;
  }
  .move-ball {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 140%;
    -webkit-animation: myani2 4s infinite;
            animation: myani2 4s infinite;
  }
  @-webkit-keyframes myani2 {
    0% {
      left: 20%;
    }
    50% {
      left: 18%;
      width: 149%;
    }
    100% {
      left: 20%;
    }
  }
  @keyframes myani2 {
    0% {
      left: 20%;
    }
    50% {
      left: 18%;
      width: 149%;
    }
    100% {
      left: 20%;
    }
  }
}
/*# sourceMappingURL=mobile.css.map */