@import "fonts.scss";
@import "reset.scss";
@import "variables.scss";
@import "mobile.scss";
@import "animations.scss";

a {
    text-decoration: none;
    color: $base-color;
}
.nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 200px 0px;
}
.nav-ul-hid {
    display: flex;
    justify-content: space-between;
    width: 38em;
}
h1, h2 {
    color: $base-color;
    margin: 0px 0px 20px 0px;
}
.hero {
    background-image: url(./assets/Desktop_Backgrounds_1920x1200_6Back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}
.main {
    background-color: #EEEEEE;
    text-align: center;
    padding: 50px 0px;
}
.main-p {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}
.grid-item {
    padding: 20px;
    font-size: 16px;
    text-align: center;
    width: 408px;
}
.main__button {
    background-color: $button-main;
    border-radius: 18px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.main__button:hover {
    transform: rotate(10deg);
    transform-origin: 0% 100%;;
}
.learn {
    background-image: url(./assets/Rectangle.learn.png), url(./assets/IMG_1334_72dpi_RGB.png);
    text-align: center;
    padding: 80px 0px;
}
.learn-button {
    position: relative;
    border: 0; 
    background: transparent;
    margin: 60px 0px;
    cursor: pointer;
    width: 145px;
    height: 143.47px;
    border-radius: 50%;
    background-color: $button-main;
    font-size: 70px;
    color: white;
    transition: width 0.5s, height 0.5s, color 0.5s, background-color 0.5s;
}
.learn-button:hover {
    background-color: white;
    color: $button-main;
    width: 140px;
    height: 135.47px;
}
footer {
    background-color: #464547;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 80px 100px 150px;
    height: 250px;
}
.special {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.special2 {
    display: flex;
    align-items: center;
}
.small-img {
    width: 20px;
    margin-right: 10px;
}
.grid-item4 {
    align-self: flex-end;
}
.mobile1 {
    display: none;
}
.big-img {
    width: 70px;
    margin-bottom: 20px;
    transition:  width 1s, transform 1s;
}
.hero:hover > .big-img {
    transform: rotate(1deg) scaleX(-1);
    width: 55px;
    cursor: pointer;
}

.hoverimg {
    position: absolute;
    width: 75%;
    height: 100%;
    right: 0%;
    animation: myani 4s infinite;
    @include keyframes(myani1);
}

.position-abs {
    position: absolute;
}
.move-ball {
    position: absolute;
    top: -18%;
    left: 35%;
    width: 66%;
    animation: myani2 4s infinite;
}



