@font-face {
  font-family: 'Open Sans';
  src: url(https://fonts.googleapis.com/css2?family=Caladea&display=swap);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0;
  border: 0;
}

@media only screen and (max-width: 768px) {
  .nav-ul-hid {
    display: none;
  }
  .mobile1 {
    display: block;
    margin-right: 1em;
  }
  .nav-ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 100px 0px;
  }
  .main-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-item {
    padding: 8px;
    font-size: 14px;
    text-align: center;
    width: 18rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 39px 50px 31px 50px;
  }
  .grid-item4 {
    /* align-self: flex-end; */
    text-align: center;
  }
  .special {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hoverimg {
    position: absolute;
    width: 75%;
    height: 100%;
    right: 0%;
    -webkit-animation: myani 4s infinite;
            animation: myani 4s infinite;
  }
  @-webkit-keyframes myani {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  @keyframes myani {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  .hero {
    background-position: right 0% bottom 44%;
  }
  .hoverimg {
    position: absolute;
    width: 172%;
    height: 100%;
    right: 18%;
    -webkit-animation: myani 4s infinite;
            animation: myani 4s infinite;
  }
  .move-ball {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 140%;
    -webkit-animation: myani2 4s infinite;
            animation: myani2 4s infinite;
  }
  @-webkit-keyframes myani2 {
    0% {
      left: 20%;
    }
    50% {
      left: 18%;
      width: 149%;
    }
    100% {
      left: 20%;
    }
  }
  @keyframes myani2 {
    0% {
      left: 20%;
    }
    50% {
      left: 18%;
      width: 149%;
    }
    100% {
      left: 20%;
    }
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}

.nav-ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 200px 0px;
}

.nav-ul-hid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 38em;
}

h1, h2 {
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.hero {
  background-image: url(./assets/Desktop_Backgrounds_1920x1200_6Back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

.main {
  background-color: #EEEEEE;
  text-align: center;
  padding: 50px 0px;
}

.main-p {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.grid-item {
  padding: 20px;
  font-size: 16px;
  text-align: center;
  width: 408px;
}

.main__button {
  background-color: #55C2D8;
  border-radius: 18px;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.main__button:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.learn {
  background-image: url(./assets/Rectangle.learn.png), url(./assets/IMG_1334_72dpi_RGB.png);
  text-align: center;
  padding: 80px 0px;
}

.learn-button {
  position: relative;
  border: 0;
  background: transparent;
  margin: 60px 0px;
  cursor: pointer;
  width: 145px;
  height: 143.47px;
  border-radius: 50%;
  background-color: #55C2D8;
  font-size: 70px;
  color: white;
  -webkit-transition: width 0.5s, height 0.5s, color 0.5s, background-color 0.5s;
  transition: width 0.5s, height 0.5s, color 0.5s, background-color 0.5s;
}

.learn-button:hover {
  background-color: white;
  color: #55C2D8;
  width: 140px;
  height: 135.47px;
}

footer {
  background-color: #464547;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 50px 80px 100px 150px;
  height: 250px;
}

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small-img {
  width: 20px;
  margin-right: 10px;
}

.grid-item4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mobile1 {
  display: none;
}

.big-img {
  width: 70px;
  margin-bottom: 20px;
  -webkit-transition: width 1s, -webkit-transform 1s;
  transition: width 1s, -webkit-transform 1s;
  transition: width 1s, transform 1s;
  transition: width 1s, transform 1s, -webkit-transform 1s;
}

.hero:hover > .big-img {
  -webkit-transform: rotate(1deg) scaleX(-1);
          transform: rotate(1deg) scaleX(-1);
  width: 55px;
  cursor: pointer;
}

.hoverimg {
  position: absolute;
  width: 75%;
  height: 100%;
  right: 0%;
  -webkit-animation: myani 4s infinite;
          animation: myani 4s infinite;
}

@-webkit-keyframes myani {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes myani {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.position-abs {
  position: absolute;
}

.move-ball {
  position: absolute;
  top: -18%;
  left: 35%;
  width: 66%;
  -webkit-animation: myani2 4s infinite;
          animation: myani2 4s infinite;
}
/*# sourceMappingURL=styles.css.map */